.container{
width:100%;padding-right:var(--bs-gutter-x,.75rem);padding-left:var(--bs-gutter-x,.75rem);margin-right:auto;margin-left:auto
}
@media (min-width:576px){
.container{max-width:540px !important;}
}
@media (min-width:768px){
.container{max-width:720px !important;}
}
@media (min-width:992px){
.container{max-width:960px !important;}
}
@media (min-width:1200px){
.container{max-width:1500px !important;}
}
@media (min-width:1400px){
.container{
max-width:1920px !important;
}
}
 
 
.container_min{
width:100%;padding-right:var(--bs-gutter-x,.75rem);padding-left:var(--bs-gutter-x,.75rem);margin-right:auto;margin-left:auto
}
@media (min-width:576px){
.container_min{max-width:540px !important;}
}
@media (min-width:768px){
.container_min{max-width:720px !important;}
}
@media (min-width:992px){
.container_min{max-width:960px !important;}
}
@media (min-width:1200px){
.container_min{max-width:1000px !important;}
}
@media (min-width:1400px){
.container_min{
max-width:1220px !important;
}
}
 
 
.bg_section{
background-color: #7149a5 !important;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #09487f; 
  border-radius: 10px;
  
}

::-webkit-scrollbar-thumb {
  background: #09487f; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #09487f; 
}
/* FLOAT */
.float_right{float:right;}
.float_left{float:left;}
.div_incon_hov{background-color:#ffffff;padding:10px;}
.div_incon_hov:hover{background-color:#f9f9f9;}
.div_incon_hov i{color:transparent;}
.div_incon_hov:hover i{color:#c0c0c0;}

.padding0_10{padding:0px 10px 0px 10px;}
.alert {
  z-index:999;
  float:right !important;
  color:#ffffff;
  font-size:17px;
  background-color: #09487f;
  width: 350px;
  height: auto;
  text-align: center;
  border-radius: 4px;
  position: absolute !important;
  right: 30px;
  transition: background-color .3s, 
}
.table_link{color:#000000;}
.table_link:hover{color:#000000;}
.active_color{color:#229902;}
.desactive_color{color:#c4183c;}

.cursor_pointer{cursor: pointer;}
/* SIZE */
.size16{font-size:16px;}
.size15{font-size:15px;}
.blod{font-family:"Segoe UI Bold","Segoe UI Web Bold","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol",HelveticaNeue-Bold,"Helvetica Neue",Arial,sans-serif;font-weight:blod;font-weight:600;}
.normal{font-family:"Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol",HelveticaNeue-Light,"Helvetica Neue",Arial,sans-serif;font-weight:normal;font-weight:500;}

/* COLOR */
.color1{color:#09487f !important;}
.color2{color:#7b7883 !important;}
.color3{color:#feb473 !important;}
.color_black{color:#000000 !important;}
.bg_color1{background-color:#09487f !important;border:2px solid #09487f !important;}
.bg_color2{background-color:#7b7883 !important;border:2px solid #7b7883 !important;}
.bg_color3{background-color:#feb473 !important;border:2px solid #feb473 !important;}
.bg_color3:hover{background-color:#c38146 !important;border:2px solid #c38146 !important;}

/* BORDER */
.border_bottom{border-bottom:1px solid #dadce0 !important;}
.border_bottom:hover{border-bottom:1px solid #dadce0 !important;background-color:#f1f1f1 !important;}
.div_title{
	margin: 0;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.02);
    background-color: #f9f9f9;
    text-shadow: 1px 1px 0px white;
    font-weight: 400;
    font-size: 18px !important;
	color:#5f5d5d;
	}
.radio span{margin-left:10px;}
.radio .input{margin-left:10px;}
form .textblod{font-size: 14px !important;}
.textblodfull{font-size: 14px !important;}
.cb-rb{width:100%;}
.full-width{width:100%;}
.tablelink{color:#007bff;}
.tablelink:hover{color:#0e5db3;}
.imgprv{
width:100%;
height:250px;
}
#imgprvadd{
min-width:100px;max-height:auto;max-width:100%;max-height:auto;
}

.imgprvc{max-width:100%;height:auto !important;}

.prod_img_p{width:350px;height:200px;}
.prod_img_s{width:100%;height:200px;}
.border1{border:1px solid #c0c0c0;}
.logo{min-width:100px;max-height:auto;max-width:100%;max-height:auto;}
p{margin:5px 0px 5px 0px !important;}
