
/* section7 */
.topblog17{margin-top:-30px;}
.borderblog17{border:4px solid #0408b3;}
.blg7-6{transition:0s;opacity:3;min-height:350px;text-align:center;background-image: url('../../../images/dessin/14.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.blg7-6:hover{transition:0s;opacity:3;min-height:350px;text-align:center;background-image: url('../../../images/dessin/14.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.blg7-6-1{transition:0s;opacity:3;min-height:350px;text-align:center;background-image: url('../../../images/dessin/8.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.blg7-6-1:hover{transition:0s;opacity:38;min-height:350px;text-align:center;background-image: url('../../../images/dessin/8.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.blg7-8{transition:0s;opacity:3;min-height:200px;text-align:center;background-image: url('../../../images/dessin/10.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.blg7-8:hover{transition:2s;opacity:0.8;min-height:200px;text-align:center;background-image: url('../../../images/dessin/10.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.blg7-7{border:1px solid #ffffff;min-height:300px;background-color:#ffffff;text-align:center;}
.blg7-7-1{border:1px solid #ffffff;min-height:285px;background-color:#ffffff;text-align:center;}
.date1{font-weight:blod;font-weight:600;color:#ff0000;}
.blog1{background-color:#FFFFFF;padding:50px 0px 50px 0px;}

