
/* section7 */
.topblog27{margin-top:-30px;}
.borderblog27{border:1px solid #0408b3;}
.blg8-6{transition:0s;opacity:3;min-height:250px;text-align:center;background-image: url('../../../images/dessin/14.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.blg8-6:hover{transition:0s;opacity:3;min-height:250px;text-align:center;background-image: url('../../../images/dessin/14.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.blg8-6-1{transition:0s;opacity:3;min-height:250px;text-align:center;background-image: url('../../../images/dessin/8.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.blg8-6-1:hover{transition:0s;opacity:38;min-height:250px;text-align:center;background-image: url('../../../images/dessin/8.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.blg8-8{transition:0s;opacity:3;min-height:200px;text-align:center;background-image: url('../../../images/dessin/10.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.blg8-8:hover{transition:2s;opacity:0.8;min-height:200px;text-align:center;background-image: url('../../../images/dessin/10.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.blg8-7{border:1px solid #ffffff;min-height:300px;background-color:#ffffff;text-align:center;}
.blg8-7-1{border:1px solid #ffffff;min-height:285px;background-color:#ffffff;text-align:center;}
.date2{font-weight:blod;font-weight:600;color:#ff0000;}
.bolder_blog{border:1px solid #ececec;}
.cadre_blog{background-color:#fafafa;padding:20px;}
.cadre_blog_link{background-color:#ffffff;padding:10px;}
.cadre_blog_link ul {
list-style-type: none;
list-style-position: inside;
padding:0px;
margin:0px;
}
.cadre_blog_link ul li {
margin:10px;
}
.blog2{background-color:#FFFFFF;padding:50px 0px 50px 0px;}

