::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #0d6efd; 
  border-radius: 10px;
  
}

::-webkit-scrollbar-thumb {
  background: #0d6efd; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0d6efd; 
}
.backtop {
  color:#ffffff;
  font-size:30px;
  display: inline-block;
  background-color: #0d6efd;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
}
.backtop:hover {
  color:#ffffff;
  font-size:30px;
  display: inline-block;
  background-color: #0d6efd;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
}


 /* BTN */
.model_btn{font-family:Gotham Narr,Helvetica,Arial,sans-serif;transition: 1s;text-decoration:none;background-color:#0d6efd;border:2px solid #0d6efd;color:#ffffff;padding:10px;width:100px;
border-radius:20px;}

.model_btn:hover{transition: 1s;text-decoration:none;background-color:#ffffff;border:2px solid #0d6efd;color:#0d6efd;padding:10px 15px 10px 10px;width:100px;-webkit-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
-moz-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);border-radius:20px;}


.model_btn_white{font-family:Gotham Narr,Helvetica,Arial,sans-serif;transition: 1s;text-decoration:none;background-color:#ffffff;border:2px solid #0d6efd;color:#0d6efd;padding:10px;width:100px;
border-radius:20px;}

.model_btn_white:hover{transition: 1s;text-decoration:none;background-color:#ffffff;border:2px solid #0d6efd;color:#0d6efd;padding:10px 15px 10px 10px;width:100px;-webkit-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
-moz-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);border-radius:20px;}



.model_btn_box{font-family:Gotham Narr,Helvetica,Arial,sans-serif;transition: 1s;text-decoration:none;background-color:#0d6efd;border:1px solid #0d6efd;color:#ffffff;padding:5px;width:100px;-webkit-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
-moz-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);}

.model_btn_box:hover{transition: 1s;text-decoration:none;background-color:#0d6efd;border:1px solid #0d6efd;color:#ffffff;padding:5px 15px 5px 5px;width:100px;-webkit-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
-moz-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);}


/* LAYOUT */
.fixed-nav-bar2 {
  box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.6);
}

.content {
position: relative;
background:rgba(255,0,0,0.3) url(../../../images/dessin/21.jpg) no-repeat center center fixed;
background-size:cover;
}

.content_service {
position: relative;
background:rgba(255,0,0,0.3) url(../../images/dessin/15.jpg) no-repeat center center fixed;
background-size:cover;
}
.content_about {
position: relative;
background:rgba(255,0,0,0.3) url(../../images/dessin/21.jpg) no-repeat center center fixed;
background-size:cover;
}
.content_blog {
position: relative;
background:rgba(255,0,0,0.3) url(../../images/dessin/4.jpg) no-repeat center center fixed;
background-size:cover;
}
.content_contact {
position: relative;
background:rgba(255,0,0,0.3) url(../../images/dessin/18.jpg) no-repeat center center fixed;
background-size:cover;
}
.overlay-image-layer {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 0;
    right: 0;
	background-color:#0408b3; 
	opacity: 0.5;
}

.description, .some-related-articles {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.description {
  padding-top: 200px;
  min-height: 750px;
  text-align: center;
}

.description_second, .some-related-articles {
  position: relative;
width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.description_second {
  padding-top: 150px;
  min-height: 350px;
  text-align: center;
}

.description_text {
 text-align: center;
}
.some-related-articles {
  color: #747474;
}
.some-related-articles h1 {
  color: #384e56;
  margin-top: 60px;
  text-transform: uppercase;
}
.some-related-articles h2 a:link, .some-related-articles h2 a:visited  {
  color: #464646;
  transition: color 0.1s ease;
}
.some-related-articles h2 a:hover {
  color: #000000;
  transition: color 0.3s ease;
}
/* SPECIAL */
.description_title
{
font-size: 46px;
  line-height: 46px;
  color: #e0e0e0;
}
.summary {
  color: #d9dee2;
  margin-top: 40px;
  margin-bottom: 0px;
}
.button, .button:visited, .button-dark {
  display: inline-block;
  max-width: 200px;
  margin: 50px 10px 30px 10px;
  padding: 10px;
  font-family: "Signika", sans-serif;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
  text-transform: capitalize;
  text-align: center;
  transition: all 0.1s ease;
  text-decoration:none;

}
.button-dark, .button-dark:visited {
  margin: 20px 10px 30px 0;
  color: #0408b3;
  border-color: #0408b3;

}
.button:hover, .button-dark:hover {
  transition: all 0.3s ease;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.button-dark:hover {
  color: #ffffff;
  background-color: #5256ea;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: 0.5s;
  margin-top:0px;
  width: 100%;
  height: 70px;
  background-color: #5597f7;
  border-radius:50px;
  border-bottom:1px solid transparent !important;
    box-shadow: 10px 10px 5px 0px rgba(170, 169, 169, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(170, 169, 169, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(170, 169, 169, 0.75);

}

/* The element at the top of the page right after the fixed navigation bar
   MUST have sufficient top margin or else it will be covered by the bar */
.content {
  margin-top: 0px;
}

/* Example responsive navigation menu  */
.fixed-nav-bar li, .fixed-nav-bar a { 
  height: 70px;
  line-height: 50px;
  margin-top:5px;
}
.menu {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  background-color:#5597f7;
    transition: 0.5s;
  border-radius:0px;
  margin-top:0px;
  padding:5px;
  
  }
.menu #logo {
 width:150px;
  height:60px;
  margin-top:-5px;
}

.login-incon{
  width:35px;
  height:30px;
  margin-top:0px;
}
.nav-incon{
  font-size:20px;
  margin-top:3px;
}

.menu-items .nav_link{position:relative;font-weight:600;}

.menu a, .menu a:visited {
  color: #ffffff;
}
.menu a:hover, .menu a:target {
  color: #0408b3;

}
.menu-items {
  display: inline-block;
}
.sitename {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}
a.sitename, a:visited.sitename {
  color: #e0e0e0;
}
.menu-items li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.menu-items a {
  text-decoration: none;
}
.show, .hide {
  display: none;
  padding-left: 15px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center left;
  color: #dde1e2;
}
.show {
  background-image: url(assetss/down-arrow-icon.png);
}
.hide {
  background-image: url(assetss/up-arrow-icon.png);
}







.menu-items .dropdown .dropdown-nav {
	background: #ffffff;
	visibility: hidden;
  opacity: 0;
	position: absolute;
	margin-top:9px;
	margin-left:-50px;
    width:200px;

  transition: all 0.5s ease;
	left: 0;
  display: none;
  float:left;
  padding:0px;
  margin:0px;
}

.menu-items .dropdown:hover > .dropdown-nav,
.menu-items .dropdown .dropdown-nav:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  border:3px solid #0408b3;
  padding:0px;
  margin-bottom:0px;

}

.menu-items .dropdown .dropdown-nav .dropdown-li {
	clear: both;
    width: 100%;
    margin:0px !important;
	padding:4px !important;
	float:left;
	background-color:#ffffff;
   line-height:40px;
    height:50px

}
.menu-items .dropdown .dropdown-nav .dropdown-li:hover{
  background-color:#0408b3;
  color:#ffffff;
}

.carousel-bg{background-image:url(../../images/dessin/hero-bg-1.jpg);background-size:100% 100%;background-color:transparent;}

@media only screen and (max-width: 800px) {
  .fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: 0.5s;
  margin-top:0px;
  width: 100%;
  height: 70px;
  background-color: transparent;
  box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.6);
}
.carousel-bg{background-image:url(../../images/dessin/hero-bg-1.jpg);background-size:150% 100%;background-color:transparent;}
.menu-items .dropdown .dropdown-nav {
	background: #ffffff;
	visibility: hidden;
  opacity: 0;
	position: absolute;
	margin-top:9px;
	margin-left:-50px;
    width:200px;

  transition: all 0.5s ease;
	left: 0;
  display: none;
  float:left;
  padding:0px;
  margin:0px;
}

.menu-items .dropdown:hover > .dropdown-nav,
.menu-items .dropdown .dropdown-nav:hover {
  visibility: visible;
  	position: relative;
    width:100%;

  opacity: 1;
  display: block;
  border:3px solid #ff0000;
  padding:0px;
  margin-bottom:0px;

}







.menu { 
    position: relative;
    width: 100%;
	border-radius:0px;

  }
  .sitename {
    position: absolute;
    top: 2px;
    left: 10px;
    margin-left: 0px;
  }
  .menu-items {
    display: none; 
    width: 100%;
    margin-top: 65px;
    background-color: #030671;
	
  }
  
    .menu-items_incons {
    display: none; 
    width: 100%;
    margin-top: -16px;
    background-color: #030671;
  }
  .menu-items li {
    display: block;
    text-align: center;
	padding:0px;
	margin-left:0px;
    height: 40px;
    line-height: 40px;
  }
  
    .menu-items li a{
    display: block;
    text-align: center;
	padding:0px;
	background-color:#030671;
	color:#ffffff !important;
	border-bottom:1px solid #0408b3;
	margin-left: -20px;
    height: 40px;
    line-height: 40px;
  }
  
    .menu-items li a:hover{
    display: block;
    text-align: center;
	padding:0px;
	background-color:#0408b3;
	margin-left: -20px;
    height: 40px;
    line-height: 40px;
  }

  .show, .hide {  
    position: absolute;
    top: 0;
    right: 15px;
  }
  .show {
    display: inline-block;
  }
  .hide {
    display: none;
  }
  #menu:target .show {
    display: none;
  }
  #menu:target .hide, #menu:target .menu-items {
    display: inline-block;
  }
}





/* CONTACT FORM */
.contact1-incon div{
padding:5px;
font-size:15px;
font-weight:blod;
font-weight:600;
color:#000000;
}
.contact1-incon span{
width:100px;
padding:5px;
text-align:center;
}
.contact1 p{
font-size:15px;
font-weight:blod;
font-weight:600;
color:#000000;
padding:0px;
}
.contact1 input{
width:100%;
height:50px;
border:1px solid #c0c0c0;
padding:10px;
}
.contact1 textarea{
width:100%;
height:150px;
border:1px solid #c0c0c0;
padding:10px;
}



.contact2-incon div{
padding:5px;
font-size:15px;
font-weight:blod;
font-weight:700;
color:#000000;
}








@media only screen and (max-width: 220px) {
  .sitename, .show, .hide {
    font-size: 14px;
  }
}













@media only screen and (min-width: 100px) {
.login{color:#ff0000 !important;}

}
@media only screen and (min-width: 320px) {
.login{color:#ff0000 !important;}

}
@media only screen and (min-width: 480px) {
.menu-items .login{color:#ff0000 !important;}

}





@media only screen and (min-width: 768px) {
.menu-items .login{color:#000000 !important;display:none !important;}
.menu-items-mobile .login-mobile{color:#ff0000 !important;display:inline !important;}
}

@media only screen and (min-width: 800px) {
.menu-items .login{display:inline !important;}
.menu-items-mobile .login-mobile{display:none !important;}
.menu-items .nav_link{font-weight:blod;font-weight:600;}
}