
.bg_section{
background-color: #7149a5 !important;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #7149a5; 
  border-radius: 10px;
  
}

::-webkit-scrollbar-thumb {
  background: #7149a5; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7149a5; 
}
.backtop {
  color:#ffffff;
  font-size:30px;
  display: inline-block;
  background-color: #7149a5;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
}
.backtop:hover {
  color:#ffffff;
  font-size:30px;
  display: inline-block;
  background-color: #7149a5;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
}

 /* BTN */
.model_btn{font-family:Gotham Narr,Helvetica,Arial,sans-serif;transition: 1s;text-decoration:none;background-color:#825db2;border:2px solid #825db2;color:#ffffff;padding:10px;width:100px;
border-radius:20px;}

.model_btn:hover{transition: 1s;text-decoration:none;background-color:#ffffff;border:2px solid #825db2;color:#825db2;padding:10px 15px 10px 10px;width:100px;-webkit-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
-moz-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);border-radius:20px;}


.model_btn_white{font-family:Gotham Narr,Helvetica,Arial,sans-serif;transition: 1s;text-decoration:none;background-color:#ffffff;border:2px solid #825db2;color:#825db2;padding:10px;width:100px;
border-radius:20px;}

.model_btn_white:hover{transition: 1s;text-decoration:none;background-color:#ffffff;border:2px solid #825db2;color:#825db2;padding:10px 15px 10px 10px;width:100px;-webkit-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
-moz-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);border-radius:20px;}



.model_btn_box{font-family:Gotham Narr,Helvetica,Arial,sans-serif;transition: 1s;text-decoration:none;background-color:#825db2;border:1px solid #825db2;color:#ffffff;padding:5px;width:100px;-webkit-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
-moz-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);}

.model_btn_box:hover{transition: 1s;text-decoration:none;background-color:#825db2;border:1px solid #825db2;color:#ffffff;padding:5px 15px 5px 5px;width:100px;-webkit-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
-moz-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);}



/* NAV */

.navbar_top_cvf{
z-index:999;
position:relative;
box-shadow: 10px 10px 5px 0px rgba(170, 169, 169, 0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(170, 169, 169, 0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(170, 169, 169, 0.75);
}
#navbar_top{
transition: 0.9s;
padding:10px;
background-color:#ffffff !important;
}
.navbar-toggler{
border:1px solid #825db2 !important;
background-color:#825db2 !important;
}
.navbar-toggler-icon {
color:#825db2 !important;
}
#navbar_top #logo {
  width:90px;
  height:60px;
}
#logo {
  width:100px;
  height:60px;
}

.nav-search{
display:inline;
}
.search input{
width:100%;
height:40px;
border:1px solid #c0c0c0;
padding:10px;
margin-top:7px;
display:none;
}

.search i{
display:none;
}
.con-text{
color:#000000;		
}
.nav-link{
color:#000000 !important;	
margin-left:20px;
}
.nav-link:hover{
color:#ffffff !important;		
background-color:#825db2 !important;		
}




.input_search{
width:100%;
height:50px;
border:1px solid #c0c0c0;
padding:10px;
}
.dropdown-item-full{
padding:0px !important;
text-decoration:none;
color:#000000;

}
.menu_style_full_col{
border:1px solid #ffffff;
}
.dropdown-item-full:hover{
padding:0px !important;
text-decoration:none;
color:#0408b3;
}
.menu_style_full{
background-color:#ffffff;
width:100% !important;
margin-top:-1px !important;
border-radius:0px;
list-style: none
}
.menu_style_full_title{
color:#000000;
font-size:18px;
padding:0px;
font-weight:blod;
font-weight:600;
}
.menu_style_full_link{
color:#000000;
font-size:15px;
font-weight:blod;
font-weight:600;
}

.menu_style_full_img{
width:70%;
height:150px;
}

.menu_style_full li a{
background-color:#ffffff;
color:#000000;
}
.menu_style{
background-color:#0408b3;
}
.menu_style li a{
background-color:#0408b3;
color:#ffffff;
}
.menu_style li a:hover{
background-color:#0d6efd;
color:#ffffff;
}
.lang{
margin-top:-3px;
padding:0px;
text-align:right !important;
}
.lang-img{
  width:30px;
  height:20px;
}
.dropdown_lang{
  width:40px !important;
  text-align:left;
  font-size:12px;
}
.content {
position: relative;
background:rgba(255,0,0,0.3) url(../../images/dessin/circles.png) no-repeat center center fixed;
background-size:cover;
}
.content2 {
position: relative;
background:rgba(255,0,0,0.3) url(../../images/dessin/16.jpg) no-repeat center center fixed;
background-size:cover;
min-height:750px;
}
.content_service {
position: relative;
background:rgba(255,0,0,0.3) url(../../images/dessin/15.jpg) no-repeat center center fixed;
background-size:cover;
}
.content_about {
position: relative;
background:rgba(255,0,0,0.3) url(../../images/dessin/21.jpg) no-repeat center center fixed;
background-size:cover;
}
.content_blog {
position: relative;
background:rgba(255,0,0,0.3) url(../../images/dessin/4.jpg) no-repeat center center fixed;
background-size:cover;
}
.content_contact {
position: relative;
background:rgba(255,0,0,0.3) url(../../images/dessin/18.jpg) no-repeat center center fixed;
background-size:cover;
}
.overlay-image-layer {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 0;
    right: 0;
	background-color:#0408b3; 
	opacity: 0.5;
}
.overlay-image-layer2 {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 0;
    right: 0;
	background-color:#0408b3; 
	opacity: 0.5;
}

.description, .some-related-articles {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.description {
  padding-top: 200px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 750px;
  text-align: center;
  background-color:#0408b3;
}

.description_second, .some-related-articles {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.description_second {
  padding-top: 100px;
  min-height: 350px;
  text-align: center;
}
.description_title
{
  font-size: 46px;
  line-height: 46px;
  color: #e0e0e0;
}
.description_title_sous
{
  font-size: 46px;
  line-height: 46px;
  color: #9193ef;
}
.description_text {
 text-align: center;
}
.some-related-articles {
  color: #747474;
}
.some-related-articles h1 {
  color: #384e56;
  margin-top: 60px;
  text-transform: uppercase;
}
.some-related-articles h2 a:link, .some-related-articles h2 a:visited  {
  color: #464646;
  transition: color 0.1s ease;
}
.some-related-articles h2 a:hover {
  color: #000000;
  transition: color 0.3s ease;
}
/* SPECIAL */
.summary {
	font-size:21px;
  color: #d9dee2;
  margin-top: 40px;
  margin-bottom: 0px;
}
.button, .button:visited, .button-dark {
  display: inline-block;
  max-width: 200px;
  margin: 50px 10px 30px 10px;
  padding: 10px;
  font-family: "Signika", sans-serif;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
  text-transform: capitalize;
  text-align: center;
  transition: all 0.1s ease;
  text-decoration:none;
}
.button-dark, .button-dark:visited {
  margin: 20px 10px 30px 0;
  color: #0408b3;
  border-color: #0408b3;

}
.button:hover, .button-dark:hover {
  transition: all 0.3s ease;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.button-dark:hover {
  color: #ffffff;
  background-color: #5256ea;
}




/* CONTACT FORM */
.contact1-incon div{
padding:5px;
font-size:15px;
font-weight:blod;
font-weight:600;
color:#000000;
}
.contact1-incon span{
width:100px;
padding:5px;
text-align:center;
}
.contact1 p{
font-size:15px;
font-weight:blod;
font-weight:600;
color:#000000;
padding:0px;
}
.contact1 input{
width:100%;
height:50px;
border:1px solid #c0c0c0;
padding:10px;
}
.contact1 textarea{
width:100%;
height:150px;
border:1px solid #c0c0c0;
padding:10px;
}



.contact2-incon div{
padding:5px;
font-size:15px;
font-weight:blod;
font-weight:700;
color:#000000;
}

.carousel-bg{background-image:url(../../images/dessin/40.jpg);background-size:100% 100%;background-color:transparent;}
.carousel-bg1{background-image:url(../../images/dessin/42.jpg);background-size:100% 100%;background-color:transparent;}
.carousel-bg2{background-image:url(../../images/dessin/50.jpg);background-size:100% 100%;background-color:transparent;}

@media only screen and (max-width: 992px){
.carousel-bg{background-image:url(../../images/dessin/40.jpg);background-size:150% 100%;background-color:transparent;}
.con-text{
color:#000000 !important;
font-size:13px;
}
.navbar-nav{
border-top:1px solid #f1f1f1  !important;
}
.nav-link{
color:#000000 !important;	
margin-left:0px;
padding:10px !important;
}
.nav-link:hover{
color:#ffffff !important;		
background-color:#825db2 !important;		
}
.content2 {
display:none !important;
}
.description_full{
width:100% !important;
background-image:url(../../images/dessin/16.jpg) no-repeat;
background-size:100% 100%;
}
.description {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 450px !important;
  text-align: center;
  background-color:transparent;
}
.description_title
{
  font-size: 36px;
  line-height: 46px;
  color: #e0e0e0;
}
.description_title_sous
{
  font-size: 36px;
  line-height: 46px;
  color: #9193ef;
}
.description_text {
 text-align: center;

}
.content {
position: relative;
background:rgba(255,0,0,0.3) url(../../images/dessin/16.jpg) no-repeat center center fixed;
background-size:cover;
}
.overlay-image-layer {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 0;
    right: 0;
	background-color:#000000; 
	opacity: 0.8;
}
.menu_style_full_img_block{
display:none !important;
}
.search i{
z-index:99999999999;
position:absolute;
margin-left:11px;
margin-top:19px;
display:inline !important;
color:#6c757d !important;
}
.search input{
display:inline !important;
padding:10px 10px 10px 33px;
}
.nav-search{
display:none;
}
}
