::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #0d6efd; 
  border-radius: 10px;
  
}

::-webkit-scrollbar-thumb {
  background: #0d6efd; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0d6efd; 
}
.backtop {
  color:#ffffff;
  font-size:30px;
  display: inline-block;
  background-color: #0d6efd;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
}
.backtop:hover {
  color:#ffffff;
  font-size:30px;
  display: inline-block;
  background-color: #0d6efd;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
}

 /* BTN */
.model_btn{font-family:Gotham Narr,Helvetica,Arial,sans-serif;transition: 1s;text-decoration:none;background-color:#0d6efd;border:2px solid #0d6efd;color:#ffffff;padding:10px;width:100px;
border-radius:20px;}

.model_btn:hover{transition: 1s;text-decoration:none;background-color:#ffffff;border:2px solid #0d6efd;color:#0d6efd;padding:10px 15px 10px 10px;width:100px;-webkit-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
-moz-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);border-radius:20px;}


.model_btn_white{font-family:Gotham Narr,Helvetica,Arial,sans-serif;transition: 1s;text-decoration:none;background-color:#ffffff;border:2px solid #0d6efd;color:#0d6efd;padding:10px;width:100px;
border-radius:20px;}

.model_btn_white:hover{transition: 1s;text-decoration:none;background-color:#ffffff;border:2px solid #0d6efd;color:#0d6efd;padding:10px 15px 10px 10px;width:100px;-webkit-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
-moz-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);border-radius:20px;}



.model_btn_box{font-family:Gotham Narr,Helvetica,Arial,sans-serif;transition: 1s;text-decoration:none;background-color:#0d6efd;border:1px solid #0d6efd;color:#ffffff;padding:5px;width:100px;-webkit-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
-moz-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);}

.model_btn_box:hover{transition: 1s;text-decoration:none;background-color:#0d6efd;border:1px solid #0d6efd;color:#ffffff;padding:5px 15px 5px 5px;width:100px;-webkit-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
-moz-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);}


/* NAV */
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
    transition: 0.5s;

  width: 100%;
  height: 70px;
  background-color: transparent;
  border-bottom:1px solid transparent !important;
}

/* The element at the top of the page right after the fixed navigation bar
   MUST have sufficient top margin or else it will be covered by the bar */
.content {
  margin-top: 0px;
}

/* Example responsive navigation menu  */
.fixed-nav-bar li, .fixed-nav-bar a { 
  height: 70px;
  line-height: 50px;
  margin-top:5px;
}
.menu {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  background-color:transparent;
  height:70px;
  border-radius:20px;
  margin-top:0px;

  
    

}
.menu #logo {
  width:150px;
  height:60px;
  margin-top:0px;
}

.login-incon{
  width:30px;
  height:30px;
  margin-top:3px;
}
.nav-incon{
  font-size:20px;
  margin-top:3px;
}
.menu a, .menu a:visited {
  color: #ffffff;
}
.menu a:hover, .menu a:target {
  color: #ebebeb;
}
.menu-items {
  display: inline-block;
}
.sitename {
  display: inline-block;
  margin-right: 20px;
  margin-left: 10px;
}
a.sitename, a:visited.sitename {
  color: #e0e0e0;
}
.menu-items li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.menu-items a {
  text-decoration: none;
}
.show_nav, .hide_nav {
  display: none;
  padding-left: 15px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center left;
  color: #dde1e2;
}
.show_nav {
  background-image: url(assetss/down-arrow-icon.png);
}
.hide_nav {
  background-image: url(assetss/up-arrow-icon.png);
}

@media only screen and (max-width: 800px) {
  .menu { 
    position: relative;
    width: 100%;
  }
  .sitename {
    position: absolute;
    top: 0;
    left: 0px;
    margin-left: 0px;
  }
  .menu-items {
    display: none; 
    width: 100%;
    margin-top: 70px;
    background-color: #030671;
	
  }
  
    .menu-items_incons {
    display: none; 
    width: 100%;
    margin-top: -16px;
    background-color: #030671;
  }
  .menu-items li {
    display: block;
    text-align: center;
	padding:0px;
	margin-left:0px;
    height: 40px;
    line-height: 40px;
  }
  
    .menu-items li a{
    display: block;
    text-align: center;
	padding:0px;
	background-color:#030671;
	border-bottom:1px solid #0408b3;
	margin-left: -20px;
    height: 40px;
    line-height: 40px;
  }
  
    .menu-items li a:hover{
    display: block;
    text-align: center;
	padding:0px;
	background-color:#0408b3;
	margin-left: -20px;
    height: 40px;
    line-height: 40px;
  }

  .show_nav, .hide_nav {  
    position: absolute;
    top: 0;
    right: 15px;
  }
  .show_nav {
    display: inline-block;
  }
  .hide_nav {
    display: none;
  }
  #menu:target .show_nav {
    display: none;
  }
  #menu:target .hide_nav, #menu:target .menu-items {
    display: inline-block;
  }
}

@media only screen and (max-width: 220px) {
  .sitename, .show_nav, .hide_nav {
    font-size: 14px;
  }
}













@media only screen and (min-width: 100px) {
.login{color:#ff0000 !important;}

}
@media only screen and (min-width: 320px) {
.login{color:#ff0000 !important;}

}
@media only screen and (min-width: 480px) {
.menu-items .login{color:#ff0000 !important;}

}





@media only screen and (min-width: 768px) {
.menu-items .login{color:#000000 !important;display:none !important;}
.menu-items-mobile .login-mobile{color:#ff0000 !important;display:inline !important;}
}

@media only screen and (min-width: 800px) {
.menu-items .login{color:#ff0000 !important;display:inline !important;}
.menu-items-mobile .login-mobile{color:#ff0000 !important;display:none !important;}
.menu-items .nav_link{color:#ffffff !important;}
}
/* LAYOUT */
.fixed-nav-bar2 {
  box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.6);
}

.content {
position: relative;
background:rgba(255,0,0,0.3) url(../../images/dessin/25.jpg) no-repeat center center fixed;
background-size:cover;
}
.content_service {
position: relative;
background:rgba(255,0,0,0.3) url(../../images/dessin/15.jpg) no-repeat center center fixed;
background-size:cover;
}
.content_about {
position: relative;
background:rgba(255,0,0,0.3) url(../../images/dessin/21.jpg) no-repeat center center fixed;
background-size:cover;
}
.content_blog {
position: relative;
background:rgba(255,0,0,0.3) url(../../images/dessin/4.jpg) no-repeat center center fixed;
background-size:cover;
}
.content_contact {
position: relative;
background:rgba(255,0,0,0.3) url(../../images/dessin/18.jpg) no-repeat center center fixed;
background-size:cover;
}
.overlay-image-layer {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 0;
    right: 0;
	background-color: rgb(0, 48, 96); 
	opacity: 0.8;
}

.description, .some-related-articles {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.description {
  padding-top: 200px;
  min-height: 750px;
  text-align: center;
}

.description_second, .some-related-articles {
  position: relative;
width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.description_second {
  padding-top: 150px;
  min-height: 350px;
  text-align: center;
}

.description_text {
 text-align: center;
}
.some-related-articles h1 {
  color: #384e56;
  margin-top: 60px;
  text-transform: uppercase;
}
.some-related-articles h2 a:link, .some-related-articles h2 a:visited  {
  color: #464646;
  transition: color 0.1s ease;
}
.some-related-articles h2 a:hover {
  color: #000000;
  transition: color 0.3s ease;
}
/* SPECIAL */
.description_title
{
font-size: 46px;
  line-height: 46px;
  color: #e0e0e0;
}
.summary {
  color: #d9dee2;
  margin-top: 40px;
  margin-bottom: 0px;
}
.button, .button:visited, .button-dark {
  text-decoration:none;
  display: inline-block;
  max-width: 200px;
  margin: 50px 10px 30px 10px;
  padding: 10px;
  font-family: "Signika", sans-serif;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
  text-transform: capitalize;
  text-align: center;
  transition: all 0.1s ease;
}
.button-dark, .button-dark:visited {
  margin: 20px 10px 30px 0;
  color: #464646;
  border-color: #464646;

}
.button:hover, .button-dark:hover {
  transition: all 0.3s ease;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.button-dark:hover {
  color: #ffffff;
  background-color: rgba(70, 70, 70, 0.9);
}
.search_nav{
height:200px !important;
z-index:999999999999999999 !important;
}
/* CONTACT FORM */
.contact1-incon div{
padding:5px;
font-size:15px;
font-weight:blod;
font-weight:600;
color:#000000;
}
.contact1-incon span{
width:100px;
padding:5px;
text-align:center;
}
.contact1 p{
font-size:15px;
font-weight:blod;
font-weight:600;
color:#000000;
padding:0px;
}
.contact1 input{
width:100%;
height:50px;
border:1px solid #c0c0c0;
padding:10px;
}
.contact1 textarea{
width:100%;
height:150px;
border:1px solid #c0c0c0;
padding:10px;
}



.contact2-incon div{
padding:5px;
font-size:15px;
font-weight:blod;
font-weight:700;
color:#000000;
}
/* INPUT */
.input_search_nav{
width:100%;
height:50px;
border:1px solid #c0c0c0;
padding:10px;
}