
/* section18 */
.bg18-6{transition:2s;opacity:3;min-height:645px;text-align:center;background-image: url('../../images/dessin/14.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.bg18-6:hover{transition:2s;opacity:0.8;min-height:645px;text-align:center;background-image: url('../../images/dessin/14.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.bg18-6-effect{min-height:150px;background-image: url('../../images/dessin/B1.png');background-repeat: no-repeat;background-size: 100% 100%;}
.bg18-7{border:1px solid #ffffff;min-height:322px;background-color:#ffffff;text-align:center;}
.bg18-7-1{border:1px solid #ffffff;min-height:315px;background-color:#ffffff;text-align:center;}
.bg18-7-1:hover{border:1px solid #7149a5;min-height:315px;background-color:#ffffff;text-align:center;}
.section18{background-color:#ffffff;padding:50px 0px 50px 0px;}
@media only screen and (max-width: 992px){
.bg18-6{transition:2s;opacity:3;min-height:645px;text-align:center;background-image: url('../../images/dessin/23.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.bg18-6:hover{transition:2s;opacity:3;min-height:645px;text-align:center;background-image: url('../../images/dessin/23.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
}

 /* section19 */
.section19{background-color:#ffffff;}
.section19 .row{z-index:9;position: relative;margin-top:20px;}

/* section20 */
.section20{background-color:#ffffff;}
.section20 .row{z-index:9;position: relative;}



 /* section21 */
.border-21w-full .model_btn9{color:#000000;padding:10px;text-decoration:none;}

.border-21w-full:hover .model_btn9{transition: 1s;text-decoration:none;color:#000000;width:100px;}


.border-21w-full .incons-right{transition: 1s;margin-left:0px;}

.border-21w-full:hover .incons-right{transition: 1s;margin-left:30px;}

.border-21w-full{text-align:center;}
.border-21w-full:hover{text-align:center;background-color:#0408b3;transition:0s;}

.border-21w-full .border-21w{text-align:center;background-image: url('../../images/dessin/55.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 1s;}

.border-21w-full:hover .border-21w{text-align:center;background-image: url('../../images/dessin/55.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 1s;}

.border-21w-full .border-9-1w{text-align:center;background-image: url('../../images/dessin/56.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 1s;}

.border-21w-full:hover .border-9-1w{text-align:center;background-image: url('../../images/dessin/56.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 1s;}

.border-21w-full .border-9-2w{text-align:center;background-image: url('../../images/dessin/16.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 1s;}

.border-21w-full:hover .border-9-2w{text-align:center;background-image: url('../../images/dessin/16.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 1s;}

 .border-21w-full .bg9{background-color:#ffffff;border-left:5px solid transparent;opacity:0.7;}
 .border-21w-full:hover .bg9{background-color:#ffffff;border-left:5px solid #0408b3;}
 
 
 .border-21w-full .border-21w-text{color:#000000;font-size:30px;transition: 1s;margin-top:0px;}
 .border-21w-full:hover .border-21w-text{color:#000000;font-size:24px;transition: 1s;margin-top:0px;}
 
 .border-21w-full .border-21w-text-show{transition: 1s;margin-top:200px;display: inline;}
 .border-21w-full:hover .border-21w-text-show{color:#000000;transition: 1s;margin-top:200px;display: inline;height:auto;}
.section21{background-color:#ffffff;}
@media only screen and (min-width: 768px) {
 .image_div21{min-height:300px;}

}
@media only screen and (max-width: 992px){
 .image_div21{min-height:200px;}
}


 /* section_search */
.result_list{background-color:#ffffff;border:1px solid #f1f1f1;}
.section_search{background-color:#ffffff;border-top:1px solid #f1f1f1;}
.section_search .result{color:#000000;font-size:25px;}
.result_title{color:#000000;font-size:22px !important;}
.result_title2{color:#1a6fda;font-size:18px;}
.result_title3{color:#414141;font-size:17px;}
.result_price{border-left:1px solid #f1f1f1;}
.result_price_bas{margin-top:45%;}
.result_type span .result_price_month span {
    font-size: 16px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 22px;
}
.eprfiW {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    color: #707070;
    opacity: 0.95;
    line-height: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 36px;
}
