.red{color:#b50314 !important;}
.white{color:#ffffff !important;}
.black{color:#000000;}
.black:hover{color:#000000;}
.gray {color: #b1afaf !important;}

.float-right{float:right;}
.float-left{float:left;}
.float-center{float:center;}
.text-right{text-align:right;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.bg_white{background-color:#ffffff !important;}
.bg_white:hover{background-color:#ffffff !important;}
.bg_black{background-color:#000000;}
.bg_black:hover{background-color:#000000 !important;}
.bg-gray {background-color: #f6f7f8 !important;}
.bg-vert{background-color:#50aab2;}
.bg-vert2{background-color:#50aab2b3;}
.bg-bleu{background-color:#1a6fda;border:1px solid #1a6fda;}
.bg-bleu:hover{background-color:#1559af;border:1px solid #1559af;}

.bg_transparent{background-color:transparent;}
.space-light{width:100%;height:30px;}
.space-light2{width:100%;height:20px;}
.space{width:100%;height:80px;}
.space_div{width:100%;height:10px;}

.border-bottom-effect{z-index:9999999999;position:reletive;margin-top:-100px;min-height:150px;background-image: url('http://aymenaboudi.epizy.com/images/dessin/B1.png');background-repeat: no-repeat;background-size: 100% 100%;}

.textblodfull-title{font-family:"Segoe UI Bold","Segoe UI Web Bold","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol",HelveticaNeue-Bold,"Helvetica Neue",Arial,sans-serif;font-size:34px;font-weight:normal;font-weight:400;text-align:center;}
.textblodfull{font-family:"Segoe UI Bold","Segoe UI Web Bold","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol",HelveticaNeue-Bold,"Helvetica Neue",Arial,sans-serif;font-size:27px;font-weight:blod;font-weight:700;}
.textblodfull2{font-family:"Segoe UI Bold","Segoe UI Web Bold","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol",HelveticaNeue-Bold,"Helvetica Neue",Arial,sans-serif;font-size:20px;font-weight:blod;font-weight:700;}
.textnormalfull{font-family:"Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol",HelveticaNeue-Light,"Helvetica Neue",Arial,sans-serif;font-size:15px;font-weight:normal;font-weight:400;color:#4c4b58;}
.textnormalfull1{font-family:"Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol",HelveticaNeue-Light,"Helvetica Neue",Arial,sans-serif;font-size:20px;font-weight:normal;font-weight:500;}
.textnormalfull2{font-family:"Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol",HelveticaNeue-Light,"Helvetica Neue",Arial,sans-serif;font-size:20px;font-weight:normal;font-weight:600;}
.sectiontitlenormal{font-family:"Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol",HelveticaNeue-Light,"Helvetica Neue",Arial,sans-serif;font-size:27px;font-weight:normal;font-weight:300;}
.sectiontitleblod{font-family:"Segoe UI Bold","Segoe UI Web Bold","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol",HelveticaNeue-Bold,"Helvetica Neue",Arial,sans-serif;font-size:27px;font-weight:blod;font-weight:700;}
.font-gotham{font-family:Gotham Narr,Helvetica,Arial,sans-serif;}
.margin-res{margin: 0px 0px 15px 0px;}
.margin-res2{margin: 15px 0px 15px 0px;}
.padding0{padding:0px;}
.padding7{padding:7px;}
.padding20{padding:20px;}
.padding30{padding:30px;}
.margin25{margin:5px 25px 5px 25px;}
.marginleft0{margin-left:0px;}

.border1{
-webkit-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
-moz-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
}
.box-shadow{
-webkit-box-shadow: 0px 6px 5px 5px rgba(138,134,138,1);
-moz-box-shadow: 0px 6px 5px 5px rgba(138,134,138,1);
box-shadow: 0px 6px 5px 5px rgba(138,134,138,1);
}
 /* Width */
 .fullwidth{min-width:100% !important;}

 /* Font Family */
.Segoe_UI_Bold{font-family:"Segoe UI Bold","Segoe UI Web Bold","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol",HelveticaNeue-Bold,"Helvetica Neue",Arial,sans-serif;font-weight:blod;font-weight:600;}
.Segoe_UI_Normal{font-family:"Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol",HelveticaNeue-Light,"Helvetica Neue",Arial,sans-serif;font-weight:normal;font-weight:400;}
.Segoe_UI_Normal{font-family:Oswald,sans-serif;}
 /* POSITION */
.fixed{position: fixed;}
.relative{position: relative;}
.absolute{position: absolute;}
 
/* STYLE ICON */
.style-show-icon-border{
border:1px solid #ffffff;
background-color:#ffffff;
-webkit-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
-moz-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
}
.style-show-icon-border:hover{
border:1px solid #7149a5;
}
.style-show-icon {
	width: 120px;
    height: 120px;
}
.style-show-icon svg{
    fill: #535B7C;
    width: 90px;
    height: 90px;
}
.style-show-title{
color: #535B7C;
}
.style-show-icon-border p{
color: #535B7C;
}




.style-1-icon-border{
border:1px solid #2280fb;
}
.style-1-icon-border:hover{
border:1px solid #2280fb;
}
.style-1-icon {
    width: 50px;
    height: 50px;
}
.style-1-icon svg{
    fill: #2280fb;
    width: 90px;
    height: 90px;
}
.style-1-title{
    color: #2280fb;
}

.style-2-icon-border{
border:1px solid #69bf28;
}
.style-2-icon-border:hover{
border:1px solid #69bf28;
}
.style-2-icon {
    width: 50px;
    height: 50px;
}
.style-2-icon svg{
    fill: #69bf28;
    width: 90px;
    height: 90px;
}
.style-2-title{
    color: #69bf28;
}

.style-3-icon-border{
border:1px solid #f73535;
}
.style-3-icon-border:hover{
border:1px solid #f73535;
}
.style-3-icon {
    width: 50px;
    height: 50px;
}
.style-3-icon svg{
    fill: #f73535;
    width: 90px;
    height: 90px;
}
.style-3-title{
    color: #f73535;
}

.style-4-icon-border{
border:1px solid #fdae01;
}
.style-4-icon-border:hover{
border:1px solid #fdae01;
}
.style-4-icon {
    width: 50px;
    height: 50px;
}
.style-4-icon svg{
    fill: #fdae01;
    width: 90px;
    height: 90px;
}
.style-4-title{
    color: #fdae01;
}





.style-5-icon-border{
border:1px solid #2280fb;
background-color:#2280fb;
}
.style-5-icon-border:hover{
border:1px solid #2280fb;
}
.style-5-icon {
	width: 120px;
    height: 120px;
}
.style-5-icon svg{
    fill: #ffffff;
    width: 90px;
    height: 90px;
}
.style-5-title{
    color: #ffffff;
}
.style-5-icon-border p{
color: #ffffff;
}







.style-6-icon-border{
border:1px solid #69bf28;
background-color:#69bf28;
}
.style-6-icon-border:hover{
border:1px solid #69bf28;
}
.style-6-icon {
	width: 120px;
    height: 120px;
}
.style-6-icon svg{
    fill: #ffffff;
    width: 90px;
    height: 90px;
}
.style-6-title{
color: #ffffff;
}
.style-6-icon-border p{
color: #ffffff;
}





.style-7-icon-border{
border:1px solid #f73535;
background-color:#f73535;
}
.style-7-icon-border:hover{
border:1px solid #f73535;
}
.style-7-icon {
	width: 120px;
    height: 120px;
}
.style-7-icon svg{
    fill: #ffffff;
    width: 90px;
    height: 90px;
}
.style-7-title{
color: #ffffff;
}
.style-7-icon-border p{
color: #ffffff;
}




.style-8-icon-border{
border:1px solid #fdae01;
background-color:#fdae01;
}
.style-8-icon-border:hover{
border:1px solid #fdae01;
}
.style-8-icon {
	width: 120px;
    height: 120px;
}
.style-8-icon svg{
    fill: #ffffff;
    width: 90px;
    height: 90px;
}
.style-8-title{
color: #ffffff;
}
.style-8-icon-border p{
color: #ffffff;
}

.style-616-icon {
    fill: #03a9f4;
    width: 50px;
    height: 50px;
}
.style-616-icon svg{
    fill: #03a9f4;
    width: 90px;
    height: 90px;
}
.style-628 {
    text-align: center;
    min-height: 300px;
    background-position: 50.972762645914% 0%;
    background-size: cover;
    background-image: url(http://aymenaboudi.epizy.com/images/dessin/hero-bizz-1.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
}





 /* section2 */
.border-1w-full .model_btn{transition: 1s;text-decoration:none;background-color:#0408b3;border:1px solid #0408b3;color:#ffffff;padding:10px;width:100px;-webkit-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
-moz-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);}

.border-1w-full:hover .model_btn{transition: 1s;text-decoration:none;background-color:#ffffff;border:1px solid #ffffff;color:#0408b3;padding:10px 15px 10px 10px;width:100px;}


.border-1w-full .incons-right{transition: 1s;margin-left:0px;}

.border-1w-full:hover .incons-right{transition: 1s;margin-left:30px;}

.border-1w-full{text-align:center;border:2px solid #4c4b58;}
.border-1w-full:hover{text-align:center;background-color:#0408b3;border:2px solid #0408b3;transition:0s;}

.border-1w-full .border-1w{min-height:300px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/14.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 1s;}

.border-1w-full:hover .border-1w{min-height:300px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/14.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 1s;}

.border-1w-full .border-2w{min-height:300px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/17.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 1s;}

.border-1w-full:hover .border-2w{min-height:300px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/17.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 1s;}

.border-1w-full .border-3w{min-height:300px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/16.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 1s;}

.border-1w-full:hover .border-3w{min-height:300px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/16.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 1s;}

 .border-1w-full .border-1w-text{color:#000000;font-size:19px;transition: 1s;margin-top:0px;}
 .border-1w-full:hover .border-1w-text{color:#ffffff;font-size:24px;transition: 1s;margin-top:0px;}
 
 .border-1w-full .border-1w-text-show{transition: 1s;margin-top:200px;display: inline;}
 .border-1w-full:hover .border-1w-text-show{color:#ffffff;transition: 1s;margin-top:200px;display: inline;height:auto;}
.section2{background-color:#ffffff;}

 /* section3 */
.border-2w-full .model_btn{transition: 1s;text-decoration:none;background-color:#0408b3;border:1px solid#0408b3;color:#ffffff;padding:5px;width:100px;-webkit-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
-moz-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);}

.border-2w-full:hover .model_btn{transition: 1s;text-decoration:none;background-color:#0408b3;border:1px solid#0408b3;color:#ffffff;padding:5px 15px 5px 5px;width:100px;-webkit-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
-moz-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);}


.border-2w-full .incons-right{transition: 1s;margin-left:0px;}

.border-2w-full:hover .incons-right{transition: 1s;margin-left:30px;}

.img_bg1{transition: 1s;width:60px;height:60px;}
.border-2w-full:hover .img_bg1{transition: 1s;width:100px;height:100px;}

@media only screen and (min-width: 100px) {
  .bg1-text {background-color:#c0c0c0;height:auto;border:1px solid#f1f1f1;text-align:center;}
  .bg1-text-top{margin-top:30px;}
  .bg1{min-height:300px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/16.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
  .bg1-2{min-height:300px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/17.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
    .width_media3{width:100%;}
.width_media4{width:100%;}
 .image_div9{min-height:300px;}
 .image_div12{min-height:300px;}
}
@media only screen and (min-width: 320px) {
  .bg1-text {background-color:#ffffff;height:auto;border:1px solid#f1f1f1;text-align:center;}
  .bg1-text-top{margin-top:10px;}
  .bg1{min-height:300px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/16.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
  .bg1-2{min-height:300px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/17.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
    .width_media3{width:100%;}
.width_media4{width:100%;}
 .image_div9{min-height:300px;}
 .image_div12{min-height:300px;}
}
@media only screen and (min-width: 480px) {
  .bg1-text {background-color:#ffffff;height:auto;border:1px solid#f1f1f1;text-align:center;}
  .bg1-text-top{margin-top:10px;}
  .bg1{min-height:300px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/16.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
  .bg1-2{min-height:300px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/17.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
  .width_media3{width:100%;}
  .width_media4{width:100%;}
 .width_media9{width:100%;}

 .image_div9{min-height:300px;}
 .image_div12{min-height:300px;}
}





@media only screen and (min-width: 768px) {
  .bg1-text {background-color:#ffffff;height:auto;border:1px solid#f1f1f1;text-align:center;}
  .bg1-text-top{margin-top:70px;}
  .bg1{min-height:400px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/16.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
  .bg1-2{min-height:400px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/17.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
   .width_media3{width:50%;}
    .width_media3-1{width:50%;}

.width_media4{width:50%;}
 .width_media9{width:100%;}

 .image_div9{min-height:400px;}
 .image_div12{min-height:400px;}
}

@media only screen and (min-width: 992px) {
 .width_media3{width:25%;}
 .width_media3-1{width:50%;}
 .width_media4{width:33.33%;}
.width_media9{width:75% !important;}
 .image_div9{min-height:500px;}
 .image_div12{min-height:500px;}
}


@media only screen and (min-width: 1500px) {
.width_media3-1{width:33.33%;}
}








/* section4 */
.bg2 .model_btn4{transition: 2s;text-decoration:none;color:#000000;padding:5px;width:100px;}
.bg2:hover .model_btn4{transition: 2s;text-decoration:none;color:#ffffff;padding:5px 15px 5px 5px;width:100px;border:1px solid #ffffff;}

.bg2 .bg2-text-hide .bg2-text-show{transition: 2s;margin-top:0px;display: none;}
.bg2:hover .bg2-text-hide .bg2-text-show{color:#ffffff;transition: 2s;margin-top:0px;display: inline;height:auto;}

.bg2 .incons-right{transition: 2s;margin-left:0px;}
.bg2:hover .incons-right{transition: 2s;margin-left:30px;}

.bg2 .bg2-text-hide .bg2-text{font-weight:normal;font-weight:400;color:#000000;}
.bg2:hover .bg2-text-hide .bg2-text{font-weight:normal;font-weight:400;color:#ffffff;}
  
  
  
  
  
  
  

.bg3 .model_btn4{transition: 2s;text-decoration:none;color:#000000;padding:5px;width:100px;}
.bg3:hover .model_btn4{transition: 2s;text-decoration:none;color:#ffffff;padding:5px 15px 5px 5px;width:100px;border:1px solid #ffffff;}
.bg3 .bg3-text-hide .bg3-text-show{transition: 1s;margin-top:0px;display: none;}
.bg3:hover .bg3-text-hide .bg3-text-show{color:#ffffff;transition: 1s;margin-top:0px;display: inline;height:auto;}

.bg3 .incons-right{transition: 1s;margin-left:0px;}
.bg3:hover .incons-right{transition: 1s;margin-left:30px;}

.bg3 .bg3-text-hide .bg3-text{font-weight:normal;font-weight:400;color:#000000;}
.bg3:hover .bg3-text-hide .bg3-text{font-weight:normal;font-weight:400;color:#ffffff;}
  


  




.bg4 .model_btn4{transition: 2s;text-decoration:none;color:#000000;padding:5px;width:100px;}
.bg4:hover .model_btn4{transition: 2s;text-decoration:none;color:#ffffff;padding:5px 15px 5px 5px;width:100px;border:1px solid #ffffff;}
.bg4 .bg4-text-hide .bg4-text-show{transition: 1s;margin-top:0px;display: none;}
.bg4:hover .bg4-text-hide .bg4-text-show{color:#ffffff;transition: 1s;margin-top:0px;display: inline;height:auto;}

.bg4 .incons-right{transition: 1s;margin-left:0px;}
.bg4:hover .incons-right{transition: 1s;margin-left:30px;}

.bg4 .bg4-text-hide .bg4-text{font-weight:normal;font-weight:400;color:#000000;}
.bg4:hover .bg4-text-hide .bg4-text{font-weight:normal;font-weight:400;color:#ffffff;}


@media only screen and (min-width: 100px) {
.bg2{border-top:5px solid#ffffff;transition:1s;opacity:3;min-height:200px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/4.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
.bg2:hover{border-top:5px solid#096c02;transition:1s;opacity:0.8;min-height:200px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/4.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
.bg2 .bg2-text-hide{transition:2s;position:relative;margin-top:50px;background-color:#ffffff;border:2px solid #ffffff;}
.bg2:hover .bg2-text-hide{transition:2s;position:relative;margin-top:0px;background-color:#096c02;border:2px solid #096c02;}
 
 
 .bg3{border-top:5px solid#ffffff;opacity:3;min-height:200px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/5.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
.bg3:hover{border-top:5px solid#8001a4;transition:1s;opacity:0.8;min-height:200px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/5.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
.bg3 .bg3-text-hide{transition:2s;position:relative;margin-top:50px;background-color:#ffffff;border:2px solid #ffffff;}
.bg3:hover .bg3-text-hide{transition:2s;position:relative;margin-top:0px;background-color:#8001a4;border:2px solid #8001a4;}

.bg4{border-top:5px solid#ffffff;opacity:3;min-height:200px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/6.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
.bg4:hover{border-top:5px solid#3304bb;transition:1s;opacity:0.8;min-height:200px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/6.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
.bg4 .bg4-text-hide{transition:2s;position:relative;margin-top:50px;background-color:#ffffff;border:2px solid #ffffff;}
.bg4:hover .bg4-text-hide{transition:2s;position:relative;margin-top:0px;background-color:#3304bb;border:2px solid #3304bb;}
 
 
}

@media only screen and (min-width: 320px) {
.bg2{border-top:5px solid#ffffff;transition:1s;opacity:3;min-height:200px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/4.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
.bg2:hover{border-top:5px solid#096c02;transition:1s;opacity:0.8;min-height:200px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/4.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
.bg2 .bg2-text-hide{transition:2s;position:relative;margin-top:50px;background-color:#ffffff;border:2px solid #ffffff;}
.bg2:hover .bg2-text-hide{transition:2s;position:relative;margin-top:0px;background-color:#096c02;border:2px solid #096c02;}
 
 
 .bg3{border-top:5px solid#ffffff;opacity:3;min-height:200px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/5.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
.bg3:hover{border-top:5px solid#8001a4;transition:1s;opacity:0.8;min-height:200px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/5.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
.bg3 .bg3-text-hide{transition:2s;position:relative;margin-top:50px;background-color:#ffffff;border:2px solid #ffffff;}
.bg3:hover .bg3-text-hide{transition:2s;position:relative;margin-top:0px;background-color:#8001a4;border:2px solid #8001a4;}
 
 .bg4{border-top:5px solid#ffffff;opacity:3;min-height:200px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/6.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
.bg4:hover{border-top:5px solid#3304bb;transition:1s;opacity:0.8;min-height:200px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/6.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
.bg4 .bg4-text-hide{transition:2s;position:relative;margin-top:50px;background-color:#ffffff;border:2px solid #ffffff;}
.bg4:hover .bg4-text-hide{transition:2s;position:relative;margin-top:0px;background-color:#3304bb;border:2px solid #3304bb;}
 
}

@media only screen and (min-width: 480px) {
.bg2{border-top:5px solid#ffffff;transition:1s;opacity:3;min-height:200px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/4.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
.bg2:hover{border-top:5px solid#096c02;transition:1s;opacity:0.8;min-height:200px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/4.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
.bg2 .bg2-text-hide{transition:2s;position:relative;margin-top:50px;background-color:#ffffff;border:2px solid #ffffff;}
.bg2:hover .bg2-text-hide{transition:2s;position:relative;margin-top:0px;background-color:#096c02;border:2px solid #096c02;}
 
 
 .bg3{border-top:5px solid#ffffff;opacity:3;min-height:200px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/5.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
.bg3:hover{border-top:5px solid#8001a4;transition:1s;opacity:0.8;min-height:200px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/5.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
.bg3 .bg3-text-hide{transition:2s;position:relative;margin-top:50px;background-color:#ffffff;border:2px solid #ffffff;}
.bg3:hover .bg3-text-hide{transition:2s;position:relative;margin-top:0px;background-color:#8001a4;border:2px solid #8001a4;}
 
 
 .bg4{border-top:5px solid#ffffff;opacity:3;min-height:200px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/6.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
.bg4:hover{border-top:5px solid#3304bb;transition:1s;opacity:0.8;min-height:200px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/6.jpg');background-repeat: no-repeat;background-size: 130% 100%;}
.bg4 .bg4-text-hide{transition:2s;position:relative;margin-top:50px;background-color:#ffffff;border:2px solid #ffffff;}
.bg4:hover .bg4-text-hide{transition:2s;position:relative;margin-top:0px;background-color:#3304bb;border:2px solid #3304bb;}
 
}



@media only screen and (min-width: 768px) {
.bg2{border-top:5px solid#ffffff;transition:1s;opacity:3;min-height:500px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/4.jpg');background-repeat: no-repeat;background-size: 160% 100%;}
.bg2:hover{border-top:5px solid#096c02;transition:1s;opacity:0.8;min-height:500px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/4.jpg');background-repeat: no-repeat;background-size: 160% 100%;}
.bg2 .bg2-text-hide{transition:2s;position:relative;margin-top:250px;background-color:#ffffff;border:2px solid #ffffff;}
.bg2:hover .bg2-text-hide{transition:2s;position:relative;margin-top:200px;background-color:#096c02;border:2px solid #096c02;}


.bg3{border-top:5px solid#ffffff;opacity:3;min-height:500px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/5.jpg');background-repeat: no-repeat;background-size: 160% 100%;}
.bg3:hover{border-top:5px solid#8001a4;transition:1s;opacity:0.8;min-height:500px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/5.jpg');background-repeat: no-repeat;background-size: 160% 100%;}
.bg3 .bg3-text-hide{transition:2s;position:relative;margin-top:250px;background-color:#ffffff;border:2px solid #ffffff;}
.bg3:hover .bg3-text-hide{transition:2s;position:relative;margin-top:200px;background-color:#8001a4;border:2px solid #8001a4;}
 
 .bg4{border-top:5px solid#ffffff;opacity:3;min-height:500px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/6.jpg');background-repeat: no-repeat;background-size: 160% 100%;}
.bg4:hover{border-top:5px solid#3304bb;transition:1s;opacity:0.8;min-height:500px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/6.jpg');background-repeat: no-repeat;background-size: 160% 100%;}
.bg4 .bg4-text-hide{transition:2s;position:relative;margin-top:250px;background-color:#ffffff;border:2px solid #ffffff;}
.bg4:hover .bg4-text-hide{transition:2s;position:relative;margin-top:200px;background-color:#3304bb;border:2px solid #3304bb;}
 
 
}

/* section5 */
.bg5-6{transition:2s;opacity:3;min-height:400px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/14.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.bg5-6:hover{transition:2s;opacity:0.8;min-height:400px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/14.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.bg5-6-1{transition:2s;opacity:3;min-height:400px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/8.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.bg5-6-1:hover{transition:2s;opacity:0.8;min-height:400px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/8.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.bg5-8{transition:2s;opacity:3;min-height:200px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/10.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.bg5-8:hover{transition:2s;opacity:0.8;min-height:200px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/10.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.bg5-7{border:1px solid #ffffff;min-height:300px;background-color:#ffffff;text-align:center;}
.bg5-7-1{border:1px solid #ffffff;min-height:285px;background-color:#ffffff;text-align:center;}
.section5{background-color:#ebe9e6;padding:50px 0px 50px 0px;}

/* section6 */
.bg6-6{transition:2s;opacity:3;min-height:585px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/12.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.bg6-6:hover{transition:2s;opacity:0.8;min-height:585px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/12.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.bg6-7{border:1px solid #ffffff;min-height:300px;background-color:#ffffff;text-align:center;}
.bg6-7-1{border:1px solid #ffffff;min-height:285px;background-color:#ffffff;text-align:center;}
.section6{background-color:#ffffff;padding:50px 0px 50px 0px;}

/* section7 */
.top7{margin-top:-30px;}
.border7{border:4px solid #0408b3;}
.bg7-6{transition:0s;opacity:3;min-height:350px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/14.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.bg7-6:hover{transition:0s;opacity:3;min-height:350px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/14.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.bg7-6-1{transition:0s;opacity:3;min-height:350px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/8.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.bg7-6-1:hover{transition:0s;opacity:38;min-height:350px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/8.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.bg7-8{transition:0s;opacity:3;min-height:200px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/10.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.bg7-8:hover{transition:2s;opacity:0.8;min-height:200px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/10.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.bg7-7{border:1px solid #ffffff;min-height:300px;background-color:#ffffff;text-align:center;}
.bg7-7-1{border:1px solid #ffffff;min-height:285px;background-color:#ffffff;text-align:center;}
.section7{background-color:#ebe9e6;padding:50px 0px 50px 0px;}

 /* section8 */
.border-8w-full .model_btn{transition: 1s;text-decoration:none;background-color:#0408b3;border:1px solid #0408b3;color:#ffffff;padding:10px;width:100px;-webkit-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
-moz-box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);
box-shadow: 0px 6px 5px 0px rgba(138,134,138,1);}

.border-8w-full:hover .model_btn{transition: 1s;text-decoration:none;background-color:#ffffff;border:1px solid #ffffff;color:#0408b3;padding:10px 15px 10px 10px;width:100px;}


.border-8w-full .incons-right{transition: 1s;margin-left:0px;}

.border-8w-full:hover .incons-right{transition: 1s;margin-left:30px;}

.border-8w-full{text-align:center;border:2px solid #4c4b58;}
.border-8w-full:hover{text-align:center;background-color:#0408b3;border:2px solid #0408b3;transition:0s;}

.border-8w-full .border-8w{min-height:300px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/14.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 1s;}

.border-8w-full:hover .border-8w{min-height:300px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/14.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 1s;}

.border-8w-full .border-8-1w{min-height:300px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/17.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 1s;}

.border-8w-full:hover .border-8-1w{min-height:300px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/17.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 1s;}

.border-8w-full .border-8-2w{min-height:300px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/16.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 1s;}

.border-8w-full:hover .border-8-2w{min-height:300px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/16.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 1s;}

 .border-8w-full .border-8w-text{color:#000000;font-size:19px;transition: 1s;margin-top:0px;}
 .border-8w-full:hover .border-8w-text{color:#ffffff;font-size:24px;transition: 1s;margin-top:0px;}
 
 .border-8w-full .border-8w-text-show{transition: 1s;margin-top:200px;display: inline;}
 .border-8w-full:hover .border-8w-text-show{color:#ffffff;transition: 1s;margin-top:200px;display: inline;height:auto;}
.section8{background-color:#ffffff;}


 /* section9 */
.border-9w-full .model_btn9{color:#000000;padding:10px;text-decoration:none;}

.border-9w-full:hover .model_btn9{transition: 1s;text-decoration:none;color:#000000;width:100px;}


.border-9w-full .incons-right{transition: 1s;margin-left:0px;}

.border-9w-full:hover .incons-right{transition: 1s;margin-left:30px;}

.border-9w-full{text-align:center;}
.border-9w-full:hover{text-align:center;background-color:#0408b3;transition:0s;}

.border-9w-full .border-9w{text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/4.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 1s;}

.border-9w-full:hover .border-9w{text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/4.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 1s;}

.border-9w-full .border-9-1w{text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/17.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 1s;}

.border-9w-full:hover .border-9-1w{text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/17.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 1s;}

.border-9w-full .border-9-2w{text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/16.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 1s;}

.border-9w-full:hover .border-9-2w{text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/16.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 1s;}

 .border-9w-full .bg9{background-color:#ffffff;border-left:5px solid transparent;opacity:0.7;}
 .border-9w-full:hover .bg9{background-color:#ffffff;border-left:5px solid #0408b3;}
 
 
 .border-9w-full .border-9w-text{color:#000000;font-size:30px;transition: 1s;margin-top:0px;}
 .border-9w-full:hover .border-9w-text{color:#000000;font-size:24px;transition: 1s;margin-top:0px;}
 
 .border-9w-full .border-9w-text-show{transition: 1s;margin-top:200px;display: inline;}
 .border-9w-full:hover .border-9w-text-show{color:#000000;transition: 1s;margin-top:200px;display: inline;height:auto;}
.section9{background-color:#ffffff;}



 /* section10 */
.border-10w-full .model_btn9{color:#000000;padding:10px;text-decoration:none;}

.border-10w-full:hover .model_btn9{transition: 1s;text-decoration:none;color:#000000;width:100px;}


.border-10w-full .incons-right{transition: 1s;margin-left:0px;}

.border-10w-full:hover .incons-right{transition: 1s;margin-left:30px;}

.border-10w-full{text-align:center;background-color:transparent;}
.border-10w-full:hover{text-align:center;background-color:transparent;transition:0s;}

.border-10w-full .border-10w{text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/4.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 0s;}

.border-10w-full:hover .border-10w{text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/4.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 0s;}

.border-10w-full .border-10-1w{text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/17.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 0s;}

.border-10w-full:hover .border-10-1w{text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/17.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 0s;}

.border-10w-full .border-10-2w{text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/16.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 0s;}

.border-10w-full:hover .border-10-2w{text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/16.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 0s;}

 .border-10w-full .bg10{background-color:#ffffff;opacity:0.7;}
 .border-10w-full:hover .bg10{background-color:#ffffff;}
 
 
 .border-10w-full .border-10w-text{color:#000000;font-size:30px;transition: 0s;margin-top:0px;}
 .border-10w-full:hover .border-10w-text{color:#000000;font-size:30px;transition: 0s;margin-top:0px;}
 
 .border-10w-full .border-10w-text-show{transition: 0s;margin-top:0px;display: inline;}
 .border-10w-full:hover .border-10w-text-show{color:#000000;transition: 0s;margin-top:0px;display: inline;height:auto;}
.section10{background-color:#0408b3;}




 /* section11 */
.border-11w-full .model_btn9{color:#000000;padding:10px;text-decoration:none;}

.border-11w-full:hover .model_btn9{transition: 1s;text-decoration:none;color:#000000;width:100px;}


.border-11w-full .incons-right{transition: 1s;margin-left:0px;}

.border-11w-full:hover .incons-right{transition: 1s;margin-left:30px;}

.border-11w-full{text-align:center;background-color:transparent;}
.border-11w-full:hover{text-align:center;background-color:transparent;transition:0s;}

.border-11w-full .border-11w{text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/4.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 0s;}

.border-11w-full:hover .border-11w{text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/4.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 0s;}

.border-11w-full .border-11-1w{text-align:center;background-color:#ffffff;transition: 0s;}

.border-11w-full:hover .border-11-1w{text-align:center;background-color:#ffffff;transition: 0s;}

.border-11w-full .border-11-2w{text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/16.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 0s;}

.border-11w-full:hover .border-11-2w{text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/16.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 0s;}

 .border-11w-full .bg10{background-color:#ffffff;}
 .border-11w-full:hover .bg10{background-color:#ffffff;}
 
 
 .border-11w-full .border-11w-text{color:#000000;font-size:30px;transition: 0s;margin-top:0px;}
 .border-11w-full:hover .border-11w-text{color:#000000;font-size:30px;transition: 0s;margin-top:0px;}
 
 .border-11w-full .border-11w-text-show{color:#000000;transition: 0s;margin-top:0px;display: inline;}
 .border-11w-full:hover .border-11w-text-show{color:#000000;transition: 0s;margin-top:0px;display: inline;height:auto;}
.section11{background-color:#0408b3;}


 /* section12 */
 .top12{margin-top:-40px;}
.model_btn12-1{color:#000000;padding:10px;text-decoration:none;}
.model_btn12-1:hover{transition: 1s;text-decoration:none;color:#000000;width:100px;}

.model_btn12{color:#ffffff;padding:10px;text-decoration:none;}
.model_btn12:hover{transition: 1s;text-decoration:none;color:#ffffff;width:100px;}


.border-12w-full .incons-right{transition: 1s;margin-left:0px;}

.border-12w-full:hover .incons-right{transition: 1s;margin-left:0px;}

.border-12w-full{text-align:center;background-color:transparent;}
.border-12w-full:hover{text-align:center;background-color:transparent;transition:0s;}

.border-12w{text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/16.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 0s;}

.border-12w-full .border-12w{text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/16.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 0s;}

.border-12w-full:hover .border-12w{text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/16.jpg');background-repeat: no-repeat;
background-size: 100% 100%;transition: 0s;}

.border-12w-full .border-12-1w{text-align:center;background-color:transparent;transition: 0s;}

.border-12w-full:hover .border-12-1w{text-align:center;background-color:transparent;transition: 0s;}

.border-12w-full .border-12-2w{text-align:center;background-color:#03a9f4;transition: 0s;}

.border-12w-full:hover .border-12-2w{text-align:center;background-color:#03a9f4;transition: 0s;}

 .border-12w-full .bg10{background-color:#ffffff;}
 .border-12w-full:hover .bg10{background-color:#ffffff;}
 
 
 .border-12w-full .border-12w-text{color:#000000;font-size:30px;transition: 0s;margin-top:0px;}
 .border-12w-full:hover .border-12w-text{color:#000000;font-size:30px;transition: 0s;margin-top:0px;}
 
 .border-12w-full .border-12w-text2{color:#ffffff;font-size:30px;transition: 0s;margin-top:0px;}
 .border-12w-full:hover .border-12w-text2{color:#ffffff;font-size:30px;transition: 0s;margin-top:0px;}
 
 .border-12w-full .border-12w-text-show{color:#000000;transition: 0s;margin-top:0px;display: inline;}
 .border-12w-full:hover .border-12w-text-show{color:#000000;transition: 0s;margin-top:0px;display: inline;height:auto;}

 .border-12w-full .border-12w-text-show2{color:#ffffff;transition: 0s;margin-top:0px;display: inline;}
 .border-12w-full:hover .border-12w-text-show2{color:#ffffff;transition: 0s;margin-top:0px;display: inline;height:auto;}
.section12{background-color:#ffffff;}


 /* section13 */
.section13{background-color:#ffffff;}


 /* section14 */
.section14{background-color:#ffffff;}
.section14 .row{z-index:9;position: relative;margin-top:-50px;}

/* section15 */
.top15{margin-top:-30px;}
.border15{border:4px solid #0408b3;}
.bg15-6{transition:0s;opacity:3;min-height:350px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/14.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.bg15-6:hover{transition:0s;opacity:3;min-height:350px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/14.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.bg15-6-1{transition:0s;opacity:3;min-height:350px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/8.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.bg15-6-1:hover{transition:0s;opacity:38;min-height:350px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/8.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.bg15-8{transition:0s;opacity:3;min-height:200px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/10.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.bg15-8:hover{transition:2s;opacity:0.8;min-height:200px;text-align:center;background-image: url('http://aymenaboudi.epizy.com/images/dessin/10.jpg');background-repeat: no-repeat;background-size: 100% 100%;}
.bg15-7{border:1px solid #ffffff;min-height:300px;background-color:#ffffff;text-align:center;}
.bg15-7-1{border:1px solid #ffffff;min-height:285px;background-color:#ffffff;text-align:center;}
.section15-layer {
    position: absolute;
	top: -1px;
    bottom: -1px;
    left: 0;
    right: 0;
	height:100%;
	width:100%;
	background-color:#000000; 
	opacity: 0.5;
}
.section15{position: relative;padding:50px 0px 50px 0px;background-image: url('http://aymenaboudi.epizy.com/images/dessin/34.jpg');background-repeat: no-repeat;background-size: 100% 130%;}

/* section16 */
.section16{background-color:#ffffff;}


 /* section17 */
.section17{position: relative;padding:50px 0px 50px 0px;background-color:#a1d1e3;}
.section17-layer {
    position: absolute;
	top: -1px;
    bottom: -1px;
    left: 0;
    right: 0;
	height:100%;
	width:100%;
	background-color:#000000; 
	opacity: 0.5;
}

 /* footer1 */
.footer1{background-color:#000000;}
.footer1_title{color:#ffffff;}
.footer1_li{display: block;
    font-size: 15px;
    line-height: 5px;
    overflow: hidden;
    padding: 15px 0 15px;
    transition: all .4s ease 0s;
    color: #fff;
    font-weight: 500;
    border-bottom: 1px solid rgba(241,241,241,.1);
	text-decoration:none;
	}
.footer1_link_li_bas_left{text-align:left;}
.footer1_link_li_bas_right{text-align:right;}
.footer1_li_bas{
    font-size: 15px;
    margin: 10px;
    color: #fff;
    font-weight: 500;
	text-decoration:none;
	}
	
	
/* footer2 */
.footer2{background-color:#ffffff;border-top:1px solid #f1f1f1;}
.footer2_title{color:#20323c;}
.footer2_li{display: block;
    font-size: 15px;
    line-height: 15px;
    overflow: hidden;
    padding: 15px 0 15px;
    transition: all .4s ease 0s;
    color: #627076;
    font-weight: 600;
    border-bottom: 1px solid transparent;
	text-decoration:none;
	}
.footer2_link_li_bas_left{text-align:left;}
.footer2_link_li_bas_right{text-align:right;}
.footer2_li_bas{
    font-size: 15px;
    margin: 10px;
    color: #4c4b58;
    font-weight: 500;
	text-decoration:none;
	}
	
	
/* footer3 */
.footer3{background-color:#282829;}
.footer3_title{color:#ffffff;}
.footer3_title_about{color:#f9f9f9;line-height:25px;}
.footer3_li{display: block;
    font-size: 15px;
    line-height: 20px;
    overflow: hidden;
    padding: 15px 0 15px;
    transition: all .4s ease 0s;
    color: #ffffff;
    font-weight: 500;
    border-bottom: 1px solid rgba(241,241,241,.1);
	text-decoration:none;
	}
.footer3_link_li_bas_center{text-align:center;border-top: 1px solid rgba(241,241,241,.1);}
.footer3_link_li_bas_left{text-align:left;}
.footer3_link_li_bas_right{text-align:right;}
.footer3_li_bas{
    font-size: 15px;
    margin: 10px;
    color: #ffffff;
    font-weight: 500;
	text-decoration:none;
	}
	
		
/* footer4 */
.footer4{background-color:#011c39;}
.footer4_logo{width:auto;height:50px;}
.footer4_title{color:#ffffff;}
.footer4_title_about{color:#f9f9f9;line-height:25px;}
.footer4_li{display: block;
    font-size: 15px;
    line-height: 20px;
    overflow: hidden;
    padding: 15px 0 15px;
    transition: all .4s ease 0s;
    color: #ffffff;
    font-weight: 500;
    border-bottom: 1px solid rgba(241,241,241,.1);
	text-decoration:none;
	}
.footer4_link_li_bas_center{text-align:center;border-top: 1px solid rgba(241,241,241,.1);}
.footer4_link_li_bas_left{text-align:left;}
.footer4_link_li_bas_right{text-align:right;}
.footer4_li_bas{
    font-size: 15px;
    margin: 10px;
    color: #ffffff;
    font-weight: 500;
	text-decoration:none;
	}
	
/* footer5 */
.footer5{background-color:#0d6efd;}
.footer5_logo{width:auto;height:50px;}
.footer5_title{color:#ffffff;}
.footer5_title_about{color:#f9f9f9;line-height:25px;}
.footer5_li{display: block;
    font-size: 15px;
    line-height: 20px;
    overflow: hidden;
    padding: 15px 0 15px;
    transition: all .4s ease 0s;
    color: #ffffff;
    font-weight: 500;
    border-bottom: 1px solid rgba(241,241,241,.1);
	text-decoration:none;
	}
.footer5_link_li_bas_center{text-align:center;border-top: 1px solid rgba(241,241,241,.1);}
.footer5_link_li_bas_left{text-align:left;}
.footer5_link_li_bas_right{text-align:right;}
.footer5_li_bas{
    font-size: 15px;
    margin: 10px;
    color: #ffffff;
    font-weight: 500;
	text-decoration:none;
	}
	
	
	
/* footer6 */
.footer6{background-color:#f1f1f1;}
.footer6_logo{width:auto;height:50px;}
.footer6_title{color:#1d1d1f;font-size: 15px;}
.footer6_title_about{color:#1d1d1f;line-height:25px;}
.footer6_li{display: block;
    font-size: 13px;
    line-height: 10px;
    overflow: hidden;
    padding: 15px 0 15px;
    transition: all .4s ease 0s;
    color: #1d1d1f;
    font-weight: 500;
    border-bottom: 1px solid rgba(241,241,241,.1);
	text-decoration:none;
	}
.footer6_link_li_bas_center{text-align:center;border-top: 1px solid #c0c0c0;}
.footer6_link_li_bas_left{text-align:left;}
.footer6_link_li_bas_right{text-align:right;}
.footer6_li_bas{
    font-size: 15px;
    margin: 10px;
    color: #1d1d1f;
    font-weight: 500;
	text-decoration:none;
	}