


@import 'https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700';
@import 'https://fonts.googleapis.com/css?family=Oxygen:300,400,700';


body {
   background: #fff none repeat scroll 0 0;
    color: #1b3050;
   font-family: 'Oxygen', sans-serif;
    margin: 0;
	padding:0;
}
a {
	font-family: 'Oxygen', sans-serif;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #373e18;
}

.text-center{
	text-align:center;	
}
h3 {
    border-bottom: 1px solid #5b3256;
    color: #5b3256;
    display: table;
    font-size: 25px;
    margin: 0 auto 50px;
    text-align: center;
}

.codeconveyHeader {
    background: #6C7A89 none repeat scroll 0 0;
    color: #fff;
    overflow:auto;
    padding: 3em;
    position: relative;
    text-align: center;
}
.codeconveyHeader h1 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #fff;
    font-size: 2.75em;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    position: relative;
    z-index: 10;
}

.codeconveyHeader span {
	display: block;
    font-size: 1.5em;
    margin: 1em 0 0.5em;
}


/* To Navigation Style */
.codeconveyTop {
	font-family: 'Oxygen', sans-serif;
    font-size: 0.69em;
    font-weight: 600;
    line-height: 2.2;
    text-transform: uppercase;
    width: 50%;
	float:left;
}
.codeconveyHeadline{
	width: 50%;
	float:left;	
}
.codeconveyTop ul {
    display: inline-block;
    margin: 0;
    padding: 1.5em 0;
    position: relative;
    text-align: center;
    white-space: nowrap;
}
.codeconveyTop ul::after {
    background: currentcolor none repeat scroll 0 0;
    content: "";
    height: 75%;
    left: 50%;
    opacity: 0.2;
    position: absolute;
    top: 10%;
    transform: rotate3d(0, 0, 1, 22.5deg);
    width: 1px;
}
.codeconveyTop li {
    display: inline-block;
    list-style: outside none none;
    
}
.codeconveyTop li a {
	font-family: 'Oxygen', sans-serif;
	display: inline-block;
	text-decoration: none;
	color:#fff;
	font-size:15px;
	margin: 0.5em 1em;
    padding: 0.5em 1em;
    width: 25px;
}
.codeconveyTop li a i.fa {
    font-size: 28px;
}
.codeconveyTop span.right {
	float: right;
}

.codeconveyTop span.right a {
	display: block;
	float: left;
	color:#fff;
}
.codeconveyDemos a,
section button {
	display: inline-block;
	background: #a9a9a9;
	color: #fff;
	font-weight: 400;
	padding: 10px 20px;
	margin: 5px;
	text-transform: uppercase;
	border-radius: 2px;
	letter-spacing: 1px;
}

.codeconveyDemos a:hover,
.codeconveyDemos a:active,
.codeconveyDemos a.current-demo {
	background: #777;
}

section {
	align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section p {
    font-style: italic;
    text-align: center;
}
.IntroSection {
    background: #333 none repeat scroll 0 0;
    color: #fff;
    font-size: 1.6em;
    min-height: 300px;
    position: relative;
    text-align: center;
    min-height: 300px;
    padding:3em 1em;
    position: relative;
}

.IntroSection p {
    margin: 0 auto;
    max-width: 1000px;
    padding: 1em;
}
section button {
	border: none;
	padding: 15px 30px;
	outline: none;
	background: #85b91e;
}

.content {
    font-family: "Lato","Avenir Next",Arial,sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: normal;
}


/* Related Items*/
.related > a {
	border: 1px solid #99cc33;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	color: #99cc33;
	opacity: 0.8;
	-webkit-transition: color 0.3s, border-color 0.3s;
	transition: color 0.3s, border-color 0.3s;
	-webkit-backface-visibility: hidden;
}

.related a:hover {
	border-color: #82b222;
	color: #82b222;
}

.related a img {
	max-width: 100%;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
	font-size: 65%;
	font-weight: 400;
}

.codecontainer {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
.column_half{
	float: left;
    margin: 0 2%;
    width: 46%;
}

@media (min-width: 768px) {
  .codecontainer {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .codecontainer {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .codecontainer {
    width: 1170px;
  }
}

