@import url(https://fonts.googleapis.com/css?family=Roboto:400);
body {
  font-family: 'Roboto', sans-serif;
}

/* General Style */
.header {
    padding: 0em 0 8em;
}
.header-nav {
    
    margin: 0 auto;
    max-width: 100%;
    padding-right: 3em;
    position: relative;
}
.header-nav:before, 
.header-nav:after {
  content: '';
  display: table;
}
.header-nav:after {
  clear: both;
}

/* Navigation Men bar */
.menu {
  display: inline-block;

  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li {
  display: inline-block;
}
.menu li a {
  font-size:14px;
  color: #5b3256;
  display: block;
  padding: 5px 20px;
  position: relative;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
}
.menu li a:before {
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  left: 15%;
  right: 15%;
  top: 0;
  bottom: 0;
  border-left: 2px solid #763568;
  border-right: 2px solid #763568;
}
.menu li a:hover,
.menu li .current a {
  color: #763568;
}
.menu li a:hover:before,
.menu li .current a:before {
  opacity: 1;
  left: 0;
  right: 0;
}

/* Search Box Button*/
.search-button {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.search-toggle {
  position: relative;
  display: block;
  height: 10px;
  width: 10px;
}
.search-toggle::before, .search-toggle::after {
  content: '';
  position: absolute;
  display: block;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.search-toggle::before {
  border: 2px solid #5b3256;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  left: -2px;
  top: -2px;
}
.search-toggle::after {
  height: 2px;
  width: 7px;
  background: #5b3256;
  top: 10px;
  left: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.search-toggle.active::before {
  width: 0;
  border-width: 1px;
  border-radius: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -1px;
  left: 4px;
}
.search-toggle.active::after {
  width: 12px;
  left: -1px;
  top: 4px;
}
.search-input:focus {
  outline: none;
}


/* Example #1 */
#header-1 {
    background: #ECF0F1 none repeat scroll 0 0;
}

#header-1 .search-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: #f4d03f;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#header-1 .search-box .search-input {
  width: 100%;
  height: 100%;
  padding: 0 1em;
  border: 0;
  background-color: transparent;
  opacity: 0;
  color: #fff;
}
#header-1 .search-box .search-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
#header-1.show .search-box {
  max-height: 40px;
  padding:5px 0;
}
#header-1.show .search-box .search-input {
  opacity: 1;
}



/* Example #2 */
#header-2 {
   background: #BDC3C7 none repeat scroll 0 0;
  overflow: hidden;
}

#header-2 .menu li {
  opacity: 1;
  -webkit-transition: opacity 0.2s 0.1s, -webkit-transform 0.3s;
  transition: opacity 0.2s 0.1s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.2s 0.1s;
  transition: transform 0.3s, opacity 0.2s 0.1s, -webkit-transform 0.3s;
}
#header-2 .menu li:nth-child(1) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
#header-2 .menu li:nth-child(2) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
#header-2 .menu li:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
#header-2 .menu li:nth-child(4) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
#header-2 .menu li:nth-child(5) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
#header-2 .search-box {
  position: absolute;
  left: 0;
  height: 100%;
  padding-left: 2em;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
  opacity: 0;
  -webkit-transition: all 0.4s 0.3s;
  transition: all 0.4s 0.3s;
}
#header-2 .search-box .search-input {
  border: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
#header-2 .search-box .search-toggle {
  width: 14px;
  height: 14px;
  padding: 0;
  position: absolute;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
#header-2.show .menu li {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
}
#header-2.show .search-box {
  width: calc(100% - 5em);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}



/* Example #3 */
#header-3{
	background: #F2F1EF none repeat scroll 0 0;	
}

#header-3 .menu li {
  opacity: 1;
  -webkit-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
}
#header-3 .search-box {
  position: absolute;
  right: 48px;
  height: 100%;
  width: 0;
  padding: 0;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#header-3 .search-box .search-input {
  border: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
#header-3 .search-box .search-toggle {
  width: 14px;
  height: 14px;
  padding: 0;
  position: absolute;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
#header-3.show .menu li {
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#header-3.show .menu li:nth-child(even) {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
#header-3.show .menu li:nth-child(odd) {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
#header-3.show .search-box {
  width: calc(100% - 5em);
  opacity: 1;
  -webkit-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
}
